﻿@model AvivaTestMVC.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset style="padding-left: 100Px;">
        <legend>
            <h2>Aviva Test Application  - @ViewBag.DoneBy</h2>
        </legend>
        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EnteredNumber)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.EnteredNumber)
                        @Html.ValidationMessageFor(model => model.EnteredNumber)
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <p style="padding-left: 100Px;">
            <input type="submit" value="Submit" name="direction" />
        </p>
    </fieldset>
    if (Model != null)
    {
    <fieldset>
        <legend>
            <h2>Result</h2>
        </legend>
        <table>
            @foreach (int i in Model.NumberList)
            {
                <tr>
                    <td>
                        @if (i % 3 == 0 && i % 5 == 0)
                        {
                            @Html.Label("fizz buzz")
                        }
                        else if (i % 3 == 0)
                        {
                            if (System.DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
                            {
                            <div class="font-Blue">
                                @Html.Label("Wizz")
                            </div>
                            }
                            else
                            {
                            <div class="font-Blue">
                                @Html.Label("fizz")
                            </div>
                            }

                        }
                        else if (i % 5 == 0)
                        {
                            if (System.DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
                            {
                            <div class="font-Green">
                                @Html.Label("buzz")
                            </div>
                            }
                            else
                            {
                            <div class="font-Green">
                                @Html.Label("buzz")
                            </div>
                            }
                        }
                        else
                        {
                            @Html.Label(i.ToString())
                        }
                    </td>
                </tr>   
            }
            <tr>
                <td>
                    @Html.HiddenFor(model => model.PagingStart)
                    @Html.HiddenFor(model => model.PagingEnd)
                    @*@Html.ActionLink("Next","Index","Aviva",new{Model.PagingNumber},null)*@
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Next == true)
                    {
                        <input type="submit" value="Next" name="direction" />
                    }
                </td>
                <td>
                    @if (Model.Previous == true)
                    {
                        <input type="submit" value="Previous" name="direction" />
                    }
                </td>
            </tr>
        </table>

    </fieldset>
    }
}


